label{
    font-family: "Lucida Console", "Courier New", monospace;
}

input{
    
    width:30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #afc4bc;
    color: black;
    border: none;
    outline: none;
}
 input[type=submit] {
    background-color: #000000;
    border: none;
    color: white;
    font-family:"Lucida Console", "Courier New", monospace;
    padding: 17px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width:10%
  }
  textarea{
    width:30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /*border: 2px solid rgb(35, 145, 73);
    border-radius: 4px;*/
    background-color: #afc4bc;
    color: white;
    border: none;
    outline: none;
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color:  #afc4bc;
    resize: none;
   
  }